<!DOCTYPE html>
<html lang="en">
{% extends 'main/base.html' %}
{% load static %}

{% block main_section %}
  <main class="main">
    {% for poll in polls %}
    <!-- Page Title -->
    <div class="page-title" data-aos="fade" style='background: url(" {{ poll.picture.url }}") top left; padding-bottom: 300px;'>
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Starter Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Pricing Section -->
    <section id="poll" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>{{ poll.theme }}</h2>
        <p>{{ poll.description }}</p>
      </div><!-- End Section Title -->

      <div class="container">
        <form method="post" action="{% url 'submit_poll' %}">
          {% csrf_token %}
          {% for question in poll.question_set.all %}
          <div class="row justify-content-center" style="margin-bottom: 50px;">
            <div class="col-lg-8 mb-10" data-aos="fade-up" data-aos-delay="100">
              <div class="pricing-item featured">
                <h3>{{ question.text }}</h3>
                {% if question.type == 1 %}
                <fieldset class="row mb-3 poll">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        {% for option in question.options.all %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  name="question_{{ question.id }}"
                                id="gridRadios{{option.id}}" value="option1" checked>
                            <label class="form-check-label" for="gridRadios{{option.id}}">
                                {{ option.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>
                {% else %}
                <div class="row mb-3 poll">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        {% for option in question.options.all %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck{{option.id}}" name="question_{{ question.id }}">
                            <label class="form-check-label" for="gridCheck{{option.id}}">
                                {{ option.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div><!-- End Pricing Item -->
          {% endfor %}
        </form>
      </div>

    </section><!-- /Pricing Section -->
    {% endfor %}
  </main>
{% endblock %}
